# Core
streamlit==1.32.2
python-dotenv==1.0.1
ipykernel==6.29.4

# LangChain & extensions
langchain==0.3.43
langchain-core==0.3.43
langchain-community==0.3.43
langchain-groq==0.2.5
langchain-huggingface==0.1.3
langchain-chroma==0.1.1
langchain-text-splitters==0.3.0

# Pydantic
pydantic==2.7.1

# Vector DBs
chromadb==0.4.22
faiss-cpu==1.7.4

# PDF handling
pypdf==3.17.0
pymupdf==1.23.20

# Transformers & embeddings
sentence-transformers==2.2.2
huggingface-hub==0.22.2
torch==2.2.2

# Data & utilities
duckdb==0.10.0
pandas==2.2.2
wikipedia==1.4.0
beautifulsoup4==4.12.3
arxiv==1.4.8

# LLM monitoring
langsmith==0.1.40

# Numerical
numpy==1.26.4
